### Pivoting a single Variable ###

In [1]:
import pandas as pd

In [2]:
data = {
    'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
    'city': ['Austin', 'Dallas', 'Austin', "Dallas"],
    'visitors': [139, 237, 326, 456],
    'signups': [7, 12, 3, 5]
}

users = pd.DataFrame(data)

In [4]:
users

     city  signups  visitors weekday
0  Austin        7       139     Sun
1  Dallas       12       237     Sun
2  Austin        3       326     Mon
3  Dallas        5       456     Mon

In [5]:
help(pd.pivot)

Help on function pivot_simple in module pandas.core.reshape.reshape:

pivot_simple(index, columns, values)
    Produce 'pivot' table based on 3 columns of this DataFrame.
    Uses unique values from index / columns and fills with values.

    Parameters
    ----------
    index : ndarray
        Labels to use to make new frame's index
    columns : ndarray
        Labels to use to make new frame's columns
    values : ndarray
        Values to use for populating new frame's values

    Notes
    -----
    Obviously, all 3 of the input arguments must have the same length

    Returns
    -------
    DataFrame

    See also
    --------
    DataFrame.pivot_table : generalization of pivot that can handle
        duplicate values for one index/column pair

In [6]:
users.pivot(index='weekday', columns='city', values='visitors')

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237